@font-face {
  font-family: 'DS-DIGIB';
  src: local('DS-DIGIB'), url(../fonts/DS-DIGIB.TTF) format('truetype');
}
@font-face {
  font-family: 'ANTQUABI';
  src: local('ANTQUABI'), url(../fonts/ANTQUABI.TTF) format('truetype');
}
@font-face {
  font-family: 'KlavikaMedium';
  src: local('KlavikaMedium'), url(../fonts/KlavikaMedium.otf) format('opentype');
}
@font-face {
  font-family: 'KlavikaReg';
  src: local('KlavikaReg'), url(../fonts/KlavikaReg.otf) format('opentype');
}